.contact-main {
    background-color: var(--gr11);
}

.contact-cont {
    width: 100%;
    max-width: 1176px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-cont .left {
    width: 280px;
    flex-shrink: 0;
}

.contact-cont h1 {
    font-family: var(--fQ);
    font-size: 43px;
    text-transform: capitalize;
    white-space: nowrap;
    margin-top: 0;
}

.contact-cont .email,
.contact-cont .phone,
.contact-cont .whatsapp,
.contact-cont .address {
    display: block;
    margin: 17px 0;
    font-style: normal;
    letter-spacing: 0.1px;
}

.contact-cont .email:hover,
.contact-cont .phone:hover,
.contact-cont .whatsapp:hover {
    color: var(--th2);
}

.contact-cont .contacts .icon {
    display: inline-block;
    margin-right: 7px;
}

.contact-cont .contacts .icon::before {
    display: inline-block;
    font-family: 'ak-icons';
    font-style: normal;
    font-size: 15px;
}

.contact-cont .contacts .email .icon::before {
    content: "\e902";
    font-size: 17px;
    vertical-align: middle;
    padding-bottom: 1px;
}

.contact-cont .contacts .phone .icon::before {
    content: "\e901";
    color: var(--gr3);
}

.contact-cont .contacts .whatsapp .icon::before {
    content: "\ea93";
    font-size: 15px;
}

.contact-cont .contacts .address .icon::before {
    content: "\e903";
    font-size: 16px;
}

.contact-cont .social {
    margin-top: 30px;
}

.contact-cont .right {
    flex-grow: 1;
    max-width: 700px;
    padding-left: 80px;
    border-left: 1px solid var(--gr9);
}

.contact-cont .right h3 {
    font-family: var(--fQ);
    font-size: 27px;
    margin-top: 0;
}

.contact-cont .right .title-parag {
    margin-bottom: 30px;
}

/* THANK YOU PAGE */
.thankyou-main {
    padding: 80px 0;
}

.thankyou-main>.inner {
    display: flex;
    align-items: center;
}

.thankyou-img {
    width: 460px;
    margin-right: 80px;
}

.thankyou-main h1 {
    font-family: var(--fQ);
    font-size: 27px;
    margin-bottom: 0;
}

.thankyou-main .btn-b {
    margin-top: 20px;
}

.thankyou-main .social-cont {
    margin-top: 10px;
}

.thankyou-main .social-cont h3 {
    font-family: var(--fR300);
    font-size: 17px;
    margin-bottom: 10px;
}