.slideshow {
    width: 100%;
    height: 550px;
    background-color: var(--gr2);
    overflow: hidden;
    position: relative;
}

/* Slideshow */
#slides {
    position: relative;
    width: 100%;
    height: 100%;
}

#slides .slide {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

#slides .slide-small-p {
    display: block;
    position: absolute;
    top: 348px;
    left: 40px;
    z-index: 2;
    padding-top: 5px;
    font-family: var(--fM500);
    font-size: 12px;
    color: white;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    overflow: hidden;
    opacity: 0.7;
}

#slides .slide-small-txt {
    display: block;
    transform: translateY(3em);
    transition: transform 0.7s ease-in-out;
}

#slides .slide .title {
    position: absolute;
    top: 380px;
    left: 40px;
    z-index: 2;
    padding-top: 5px;
    font-family: var(--fQ);
    font-size: 78px;
    line-height: 90px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.6px;
    overflow: hidden;
}

#slides .slide .title .title-text {
    display: block;
    transform: translateY(1.2em);
    transition: transform 1s ease-in-out;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

#slides .slide .slide-partial {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 1s ease-in-out;
}

#slides .slide .slide-partial img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

#slides .slide .slide-left {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

#slides .slide .slide-left img {
    top: 0;
    right: 0;
    -o-object-position: 100% 50%;
    object-position: 100% 50%;
    transform: translateX(50%);
}

#slides .slide .slide-right {
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition-delay: 0.2s;
}

#slides .slide .slide-right img {
    top: 0;
    left: 0;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
    transition-delay: 0.2s;
    transform: translateX(-50%);
}

#slides .slide.active .slide-small-txt {
    transform: translate(0);
    transition-delay: 0.2s;
}

#slides .slide.active .title .title-text {
    transform: translate(0);
    transition-delay: 0.3s;
}

#slides .slide.active .slide-partial,
#slides .slide.active .slide-partial img {
    transform: translateX(0);
}

#slide-select {
    position: absolute;
    bottom: 50px;
    left: 43px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#slide-select li {
    position: relative;
    cursor: pointer;
    margin: 0 6px;
}

#slide-select .selector {
    height: 8px;
    width: 8px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

#slide-select .selector.current {
    scale: 1.5;
    position: relative;
}

#slide-select .selector.current::before,
#slide-select .selector.current::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

#slide-select .selector.current::before {
    height: 15px;
    width: 1px;
}

#slide-select .selector.current::after {
    height: 1px;
    width: 15px;
}

.slide-btns {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    z-index: 3;
}

.slide-btn {
    display: block;
}

.slide-btn::before {
    display: block;
    font-family: 'ak-icons';
    content: "\e900";
    font-size: 26px;
}

.slide-btns .prev {
    margin-right: 15px;
}

.slide-btns .prev::before {
    transform: rotate(90deg);
}

.slide-btns .next::before {
    transform: rotate(180deg);

}

/* PORTFOLIO */
#portfolio>.inner {
    padding: 0 40px;
    display: flex;
}

.sidenav {
    position: sticky;
    top: 0;
    left: 0;
    border-right: 1px solid var(--gr7);
    height: 100vh;
    width: 250px;
    padding: 60px 0 40px;
    margin-right: 40px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidenav .text-d {
    margin: 0 0 14px;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sidenav li {
    flex-grow: 1;
}

.sidenav li:last-child a {
    border-bottom: none;
}

.sidenav li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-bottom: 1px solid var(--gr9);
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

.active-pf-item {
    background-color: var(--gr11);
    font-family: var(--fR400);
}

.sidenav li a .txt,
.pf-nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sidenav li a .txt {
    left: 10px;
    right: 45px;
}

.pf-nav-arrow {
    right: 20px;
}

.sidenav li a:hover {
    background-color: var(--gr11);
}

.sidenav li a:hover .pf-nav-arrow {
    right: 15px;
    color: var(--th2);
}

.sidenav li a .pf-nav-arrow {
    display: block;
    transition: all 0.3s ease-in-out;
}

.sidenav li a .pf-nav-arrow::before {
    display: inline-block;
    font-family: 'ak-icons';
    content: "\e900";
    font-size: 13px;
    transform: rotate(-90deg);
}

/* Portfolio items */
.portfolio-items-cont {
    margin: 70px 0;
}

.pf-card {
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid var(--gr10);
}

.pf-card:last-child {
    border-bottom: none;
}

.pf-card .img-cont {
    display: block;
    width: 60%;
    position: relative;
    transition: none;
    flex-shrink: 0;
}

.pf-card .img-cont:hover::before,
.pf-card .img-cont:hover .plus::before,
.pf-card .img-cont:hover .plus::after {
    visibility: visible;
    opacity: 1;
}

.pf-card .img-cont::before {
    visibility: hidden;
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

/* plus icon */
.pf-card .img-cont .plus::before,
.pf-card .img-cont .plus::after {
    visibility: hidden;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.pf-card .img-cont .plus::before {
    height: 50px;
    width: 1.5px;
}

.pf-card .img-cont .plus::after {
    height: 1.5px;
    width: 50px;
}

.pf-card img {
    display: block;
    width: 100%;
}

.pf-card:nth-child(odd) {
    flex-direction: row-reverse;
}

.pf-card:nth-child(odd) .details {
    padding: 10px 70px 10px 10px;
}

.pf-card:nth-child(even) .details {
    padding: 10px 10px 10px 70px;
}

.pf-card .details h3 {
    font-family: var(--fQ);
    font-size: 43px;
    margin-top: 0;
}

.pf-card .details .btn-a {
    margin-top: 20px;
}