h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    cursor: pointer;
}

P {
    line-height: 27px;
    letter-spacing: 0.05px;
    color: var(--gr2);
}

.text-a {
    font-family: var(--fM700);
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
    color: transparent;
    color: white;
    text-shadow: -1px -1px 0 var(--gr8), 1px -1px 0 var(--gr8),
        -1px 1px 0 var(--gr8), 1px 1px 0 var(--gr8);
}

.text-b {
    font-family: var(--fM500);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: var(--gr3);
}

.text-c {
    font-family: var(--fQ);
    font-size: 43px;
    line-height: 55px;
}

.text-d {
    font-family: var(--fM500);
    font-size: 11px;
    color: var(--gr4);
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.text-e {
    font-family: var(--fQ);
    font-size: 27px;
}

.title-block-a-center {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-block-a-left {
    margin-bottom: 40px;
}

.title-block-a-left .text-a {
   text-transform: uppercase;
   font-size: 120px;
}

.title-block-a .text-a {
    margin: 8px 0 0;
}

.title-block-a .title-flex {
    display: flex;
}

.title-block-a .title-flex img {
    width: 38px;
    margin-left: 30px;
    opacity: .8;
}