:root {
    /* FONTS */
    --fQ: "Questrial 400", sans-serif;

    --fR300: "Roboto 300", sans-serif;
    --fR300i: "Roboto 300 Italic", sans-serif;
    --fR400: "Roboto 400", sans-serif;
    --fR400i: "Roboto 400 Italic", sans-serif;

    --fM500: "Montserrat 500", sans-serif;
    --fM500i: "Montserrat 500 Italic", sans-serif;

    /* COLORS */
    /* Theme */
    --th1: #5c4813;
    --th2: #8c6d1f;
    --th3: #caa53d;
    --th4: #f4ca64;
    --th5: #fae29f;
    --th6: #fdf3d7;
    --th7: #fffcf4;

    /* Grays */
    --gr1: #222222;
    --gr2: #2a2a2a;
    --gr3: #3f3f3f;
    --gr4: #565656;
    --gr5: #939393;
    --gr6: #bebebe;
    --gr7: #dadada;
    --gr8: #e1e1e1;
    --gr9: #e6e6e6;
    --gr10: #eeeeee;
    --gr11: #f7f7f7;
    --gr12: #fcfcfc;
}